/trab1/trabalhoSD/nbproject/private/
/trab1/trabalhoSD/build/
/trab1/trabalhoSD/dist/
/trab2/trabalhoSD/nbproject/private/
/trab3/trabalhoSD/nbproject/private/
/trab3/trabalhoSD/build/
/trab3/trabalhoSD/dist/
/trabFinal/trabalhoSD/build/
/trabFinal/trabalhoSD/dist/
/trabFinal/lib
